
#Created by Constraints Editor (xc6slx45-fgg484-3) - 2012/03/12
NET "PIPELINE_CLOCK" TNM_NET = PIPELINE_CLOCK;
TIMESPEC TS_PIPELINE_CLOCK = PERIOD "PIPELINE_CLOCK" 9.5 ns HIGH 50%;
NET "PIXEL_CLOCK" TNM_NET = PIXEL_CLOCK;
TIMESPEC TS_PIXEL_CLOCK = PERIOD "PIXEL_CLOCK" 40 ns HIGH 50%;
